<form action="/" method="post">

  <p>Puppy name: </p><input type="text" name="name">
  <p>Puppy breed: </p><input type="text" name="breed">
  <p>Puppy age: </p><input type="text" name="age">



  <input type="submit" value="submit">
</form>
